<?xml version="1.0" ?>
<launch>
  <node 
    name="siemens_cp1616_io_controller_wrapper"
    pkg="siemens_cp1616" 
    type="siemens_cp1616_io_controller_wrapper" 
    output="screen"/>    
  <rosparam>
    filepath: "~/catkin_ws/src/siemens_cp1616/siemens_cp1616/config/test_io_controller_config.yaml"
  </rosparam>  
</launch>